@import '../utils/colors.scss';

.content {
  padding: 0 10vw;
  height: 100%;
  overflow: auto;
  h2 {
    margin-top: 10px;
  }
  li {
    margin-bottom: unset;
    p {
      margin-bottom: unset;
    }
  }
  ul {
    margin-top: unset;
  }
  h3 {
    margin-top: 10px;
  }
}
