@import '../utils/colors.scss';

.index {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 50% 40% 1fr;
  flex-grow: 1;
  justify-items: center;
}

.profilePhoto {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  align-self: center;
  border-radius: 50%;
  width: 80%;
}

.name {
  grid-column: 2 / 3;
  align-self: end;
  font-size: 3rem;
  margin-right: 20px;
  text-align: center;
}

#navList {
  grid-column: 2 / 3;
  @media (max-width: 1151px) {
    flex-direction: column;
    text-align: center;
    justify-content: start;
  }
  font-size: 1.4rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 1rem 0 1rem;
}

.link {
  background-image: none;
  height: min-content;
  transition: 0.1s;
  &:hover {
    transition: 0.1s;
    transform: scale(1.1);
    color: rgba(136, 170, 219, 1);
  }
}

.tagLine {
  grid-column: 2 / 3;
  align-self: start;
  margin: 0;
  text-align: center;
}
