@import '../utils/colors';

.navBar {
  display: flex;
  position: sticky;
  top: 0;
  background: $background-one;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  height: min-content;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 1rem 0 1rem;
  z-index: 3;
}

.activeLink {
  transition: 0.1s;
  font-style: italic;
  transform: scale(1.1);
  &:hover {
    color: rgba(19, 72, 150, 1) !important;
  }
}

.link {
  text-shadow: none;
  margin: 0 2vw 0 0;
  background-image: none;
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
    transition: 0.1s;
    color: rgba(136, 170, 219, 1);
  }
}

.navList {
  height: min-content;
  display: flex;
  justify-self: flex-end;
}

@media (max-width: 800px) {
  .navBar {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .navBar {
    font-size: 1rem;
    margin: 0 .5rem 0 .5rem;
  }
}
