.listLink {
  text-shadow: none;
  margin: 0 2vw 0 0;
  background-image: none;
  transition: 0.2s;
  background: grey;
  &:hover {
    font-size: 1.7rem;
    transition: 0.2s;
    color: rgba(136, 170, 219, 1);
  }
}
