@import '../utils/colors.scss';

.projectCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 500px;
  height: 400px;
  padding: 10px;
  background: $background-one;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    transform: scale(1.02);
    box-shadow: 0 4px 18px 5px rgba(0, 0, 0, 0.5);
  }
}

.title {
  margin: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  padding-top: 5px;
}
